//colors
$tr: rgba( 0, 0, 0, 0 );
$inh: inherit;
$ini: initial;

//font
$ion: 'ionicons';
$awe: 'FontAwesome';
$fla: 'flaticon';

$i: unquote( '!important' );

$font__body: 'Source Sans Pro', sans-serif;
$font__heading: 'Source Sans Pro', cursive;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$ion: "Ionicons";

$font__size-xxs: 0.79rem;
$font__size-xs: 0.889rem;
$font__size-sm: 1rem;
$font__size-md: 1.125rem;
$font__size-lg: 1.266rem;
$font__size-xl: 1.424rem;
$font__size-xxl: 1.602rem;
$font__size-xxxl: 1.802rem;

$font__line-height-body: 1.5;
$font__line-height-heading: 1.2;
$font__line-height-pre: 1.6;