.site-footer {
    float: left;
    width: 100%;
    margin-top: 100px;
    background-color: #1a1a1a;
}
/* Footer Widget Area */
.footer-widget-area {
    padding-top: 80px;
}

.footer-widgets {

    @include media(tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1em;
    }
}

.footer-widget {
    @include media(desktop) {
        padding: 0 15px;
        &:first-child {
            width: 370px;
        }

        &:not(:first-child) {
            width: calc( ( 100% - 370px )/4 );
        }
    }

}

/* Site Info */
.site-info-wrapper {
    .footer-widget-area{
        border-top: 1px solid #eaeaea;
        padding-top: 30px;
    }

    .footer-widget {
        @include media(desktop) {
            padding: 0 15px;
            &:last-child {
                width: 470px;
            }

            &:not(:last-child) {
                width: calc( ( 100% - 470px )/2 );
            }
        }

    }
}

.site-copyright {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(desktop) {
        margin-bottom: 0;
    }
}



.widget-footer {
    list-style: none;
    padding: 0;
}

.textwidget {
    font-size: 14px;
}

.footer-widgets .footer-widget:nth-of-type(2){
    @media ( min-width: 992px ) {
        padding: 0 40px 0 40px;
    }

    @media ( max-width: 991px ) and ( min-width: 768px ) {
        padding-right: 80px;
    }

}

.footer-widgets .footer-widget:nth-of-type(3){
    @media ( min-width: 992px ) {
        padding: 0 40px 0 40px;
    }

}

.note-text {
    font-size: 11px;
    font-style: italic;
}


.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
    }

    li:not( :last-child ) {
        margin-right: 20px;
    }

    a{
        text-transform: uppercase;
    }
}


.btn-back-to-top {
    position: fixed;
    bottom: 50px;
    right: 40px;
    height: 40px;
    width: 40px;
    color: #ddd;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50%;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 35px 0px rgba(153, 153, 153, 0.25);
    z-index: 99999;
    transform: translateY( 80px );
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transition: all 0.3s;
        color: #000;
        border-color: #000;
    }

    &.btn-show {
        transform: translateY( 0 );
        transition: all 0.3s;
        visibility: visible;
    }
}

footer {
    clear: both;
}

