
.container-extend {
    @include container-fixed;
    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        width: $container-md;
    }
    @media (min-width: 1200px){
        width: 1200px;
    }
    @media (min-width: 1721px) {
        width: 1721px;
    }
}

.page-header {
    background-color: #f9f9f9;
    display: flex;
    align-items: center;

    .page-title {
        margin-bottom: 0.25em;
    }
}

.page-header .page-header-container {
    padding: 35px 0;
}
